
<form>
    <!--<flash-messages></flash-messages>-->

<section id="actions" class="py-4 mb-4 ">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a routerLink="/" class="btn btn-light btn-block">
          <i class="fas fa-arrow-left"></i> 
        </a>  Regresar al inicio
      </div>
    </div>
  </div>
</section>

 <section id="detailes">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">
            <h2>Dar de alta administrador</h2>
          </div>


          <div class="card-body">
            <div class="form-group">
              <label for="nombre">Nombre</label>
              <input type="text" 
                  name="Susana" 
                  class="form-control" 
                  placeholder="Título de aviso..."
                  required
                  minlength="2"/>
            </div>
          </div>

          <div class="card-body">
              <div class="form-group">
                <label for="nombre">Apellido</label>
                <input type="text" 
                    name="nombre" 
                    class="form-control" 
                    placeholder="Horia"
                    required
                    minlength="2"/>
              </div>
          </div>

          <div class="card-body">
              <div class="form-group">
                <label for="nombre">Departamento</label>
                <input type="text" 
                    name="nombre" 
                    class="form-control" 
                    placeholder="Departamento al que pertenece"
                    required
                    minlength="2"/>
              </div>
          </div>

          <div class="card-body">
              <div class="form-group">
                <label for="nombre">Puesto</label>
                <input type="text" 
                    name="nombre" 
                    class="form-control" 
                    placeholder="Administrador"
                    required
                    minlength="2"/>
              </div>
          </div>

          <div class="card-body">
            <div class="form-group">
              <label for="nombre">Usuario</label>
              <input type="text" 
                  name="nombre" 
                  class="form-control" 
                  placeholder="susanaHoria"
                  required
                  minlength="2"/>
            </div>
        </div>

        <div class="card-body">
            <div class="form-group">
              <label for="nombre">Contraseña</label>
              <input type="text" 
                  name="nombre" 
                  class="form-control" 
                  placeholder="********"
                  required
                  minlength="2"/>
            </div>
        </div>
              
          
          
          <input  type="submit" value="Subir" class="btn btn-primary m-3">


        </div>
        </div>
      </div>
    </div>
</section>
</form>
