


 <form  #avisoForm="ngForm" (ngSubmit)="guardar(avisoForm.form)" class="mb-4">

  <div class="alert alert-danger col-md-12" role="alert" id="alertaError" style="display: none;">
    <i class="fas fa-regular fa-circle-exclamation"></i>  Es necesario que rellene todos los campos correctamente
  </div>

<section id="actions" class="py-4 mb-4 ">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a routerLink="/tabla-avisos" class="btn btn-light btn-block">
          <i class="fas fa-arrow-left"></i> 
        </a>  Regresar al inicio
      </div>
    </div>
  </div>
</section>

 <section id="detailes">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">
            <h2>Subir aviso</h2>
          </div>


          <div class="card-body">
            <div class="form-group">
              <label for="titulo">Título de aviso</label>
              <input type="text" 
                  name="titulo"
                  id="titulo" 
                  class="form-control"
                  placeholder="Título de aviso..."
                  pattern="[A-z,.\s0-9?!-]{2,20}"
                  #titulo="ngModel"
                  [(ngModel)]="aviso.titulo"
                  [ngClass]="{ 'is-invalid': titulo.errors && titulo.touched }"
                  required
                  minlength="2"
                  />
                  <div [hidden]="!titulo.errors?.['required']" class="invalid-feedback">
                    Título requerido
                  </div> 
  
                  <div [hidden]="!titulo.errors?.['minlength']" class="invalid-feedback">
                    - Debe contener al menos 2 caractéres 
                  </div>

                  <div [hidden]="!titulo.errors?.['pattern']" class="invalid-feedback">
                   - Cadena no válida
                  </div>
            </div>
          </div>

          <div class="card-body">
              <div class="form-group">
                <label for="descripcionC">Descripción corta</label>
                <input type="text" 
                    name="descripcionC" 
                    class="form-control" 
                    placeholder="Asunto del aviso..."
                    pattern="[A-z,.\s0-9?!-]{5,50}"
                    #descripcionC="ngModel"
                  [(ngModel)]="aviso.descripcionC"
                  [ngClass]="{ 'is-invalid': descripcionC.errors && descripcionC.touched }"
                  required
                  minlength="5"
                  maxlength="50"/>
                  <div [hidden]="!descripcionC.errors?.['required']" class="invalid-feedback">
                    descripcion requerida
                  </div> 
  
                  <div [hidden]="!descripcionC.errors?.['minlength']" class="invalid-feedback">
                    -  Debe contener al menos 5 caractéres 
                  </div>
                  <div [hidden]="!descripcionC.errors?.['pattern']" class="invalid-feedback">
                    - Cadena no válida
                   </div>
              </div>
          </div>

          <div class="card-body">
              <div class="form-group">
                <label for="responsable">Responsable</label>
                <input type="text" 
                    name="responsable" 
                    class="form-control" 
                    placeholder="Responsable de quién manda el aviso..."
                    pattern="[A-z\s]{5,50}"
                    #responsable="ngModel"
                    [(ngModel)]="aviso.responsable"
                    [ngClass]="{ 'is-invalid': responsable.errors && responsable.touched }"
                    required
                    minlength="5"
                    maxlength="50"/>
                    <div [hidden]="!responsable.errors?.['required']" class="invalid-feedback">
                      responsable requerido
                    </div> 
    
                    <div [hidden]="!responsable.errors?.['minlength']" class="invalid-feedback">
                       - Debe contener al menos 5 caractéres 
                    </div>
                    <div [hidden]="!responsable.errors?.['pattern']" class="invalid-feedback">
                      - Cadena no válida
                     </div>
              </div>
          </div>

          <div class="card-body">
              <div class="form-group">
                <label for="departamento">Departamento</label>
                <input type="text" 
                    name="departamento" 
                    class="form-control" 
                    placeholder="Departamento al que perteneces..."
                    pattern="[A-z\s0-9]{5,20}"
                    #departamento="ngModel"
                    [(ngModel)]="aviso.departamento"
                    [ngClass]="{ 'is-invalid': departamento.errors && departamento.touched }"
                    required
                    minlength="5"
                    maxlength="20"/>
                    <div [hidden]="!departamento.errors?.['required']" class="invalid-feedback">
                      departamento requerido
                    </div> 
    
                    <div [hidden]="!departamento.errors?.['minlength']" class="invalid-feedback">
                      - Debe contener al menos 5 caractéres 
                   </div>
                   <div [hidden]="!departamento.errors?.['pattern']" class="invalid-feedback">
                     - Cadena no válida
                    </div>
              </div>
          </div>

          <div class="card-body">
              <div class="form-group">
                <label for="descripcionL">Descripción larga</label>
                <textarea type="text" 
                    name="descripcionL" 
                    multiple class="form-control" 
                    rows="3"
                    #descripcionL="ngModel"
                    pattern="[A-z,.\s0-9?!-]{0,500}"
                    [(ngModel)]="aviso.descripcionL"
                    [ngClass]="{ 'is-invalid': descripcionL.errors && descripcionL.touched }"
                    required
                    maxlength="500"></textarea>
                    <div [hidden]="!descripcionL.errors?.['pattern']" class="invalid-feedback">
                      - Cadena no válida
                    </div>

              </div>
              
          </div>

          <input type="file" class="form-control-file m-3" >
          
          <input  type="submit" value="Subir" class="btn btn-primary m-3">


        </div>
      </div>
    </div>
  </div>
</section>
</form> 

