.title{
    width: 50%;
}

.title p{
    opacity: 50%;
}

.filter{
    width: 20%;
    margin-left: auto;
    margin-right: 0;
    position: relative;
    top: -2rem;
    line-height: 0;
}
.filter select{
    width: 95%;
}
.card-title{
    line-height: 5px;
}

img{
    height: 15rem;
}
