<div class="container">
  <div class="title text-center mx-auto">
    <h1>Bienvenido al portal de avisos</h1>
    <p>
      Neque porro quisquam est qui dolorem ipsum quia dolor sit amet,
      consectetur, adipisci velit...
    </p>
  </div>

  <div class="filter float-right">
    <p>Filtrar</p>
    <select name="Select text" id="filter">
      <option>Select text</option>
      <option>Recientes</option>
      <option>Departamento</option>
    </select>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="card mb-4">
          <img class="card-img-top" src="..." alt="Card image cap" />
          <div class="card-body">
            <p class="card-text">
              <small class="text-muted">Fecha</small>
            </p>
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. 
            </p>
            <button class="btn btn-primary">
              Case Study ->
            </button>
          </div>
        </div>
      </div>



      <div class="col-md-4 col-sm-6">
        <div class="card mb-4">
          <img class="card-img-top" src="..." alt="Card image cap" />
          <div class="card-body">
            <p class="card-text">
              <small class="text-muted">Fecha</small>
            </p>
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. 
            </p>
            <button class="btn btn-primary">
              Case Study ->
            </button>
          </div>
        </div>
      </div>



      <div class="col-md-4 col-sm-6">
        <div class="card mb-4">
          <img class="card-img-top" src="..." alt="Card image cap" />
          <div class="card-body">
            <p class="card-text">
              <small class="text-muted">Fecha</small>
            </p>
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. 
            </p>
            <button class="btn btn-primary">
              Case Study ->
            </button>
          </div>
        </div>
      </div>

      
      <div class="col-md-4 col-sm-6">
        <div class="card mb-4">
          <img class="card-img-top" src="..." alt="Card image cap" />
          <div class="card-body">
            <p class="card-text">
              <small class="text-muted">Fecha</small>
            </p>
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. 
            </p>
            <button class="btn btn-primary">
              Case Study ->
            </button>
          </div>
        </div>
      </div>



      <div class="col-md-4 col-sm-6">
        <div class="card mb-4">
          <img class="card-img-top" src="..." alt="Card image cap" />
          <div class="card-body">
            <p class="card-text">
              <small class="text-muted">Fecha</small>
            </p>
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. 
            </p>
            <button class="btn btn-primary">
              Case Study ->
            </button>
          </div>
        </div>
      </div>



      <div class="col-md-4 col-sm-6">
        <div class="card mb-4">
          <img class="card-img-top" src="..." alt="Card image cap" />
          <div class="card-body">
            <p class="card-text">
              <small class="text-muted">Fecha</small>
            </p>
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. 
            </p>
            <button class="btn btn-primary">
              Case Study ->
            </button>
          </div>
        </div>
      </div>


    </div>
  </div>


  <app-paginado></app-paginado>

</div>
