<!-- Contacto y datos -->
<section class="contacto-area" id="contacto">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="contacto-content text-center">
          <a href="#"
            ><img src="https://f.hubspotusercontent30.net/hubfs/19492734/__hs-marketplace__/QX_Logo.jpeg" alt="logo"
          /></a>
          <p>
            Sistema destinado al control y notificación de avisos. 
          </p>
          <div class="hr"></div>
          <h6>Av Colegio Militar 502, Centro, 96400 Coatzacoalcos, Ver.</h6>
          <h6>+52 921 213 1991<span>|</span>www.quaxar.com</h6>
          <div class="contacto-social">
            <ul>
              <li>
                <a class="hover-target" href=""
                  ><i class="fab fa-facebook-f"></i
                ></a>
              </li>
              <li>
                <a class="hover-target" href=""
                  ><i class="fab fa-linkedin-in"></i
                ></a>
              </li>
              <li>
                <a class="hover-target" href=""
                  ><i class="fab fa-github"></i
                ></a>
              </li>        
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Footer -->
<footer>
  <p>
    Copyright &copy; 2022
    <img src="https://f.hubspotusercontent30.net/hubfs/19492734/__hs-marketplace__/QX_Logo.jpeg" alt="logo" /> Sistema de avisos
  </p>
</footer>
